<div id="header">
  <a class="menu-button"><i class="fa fa-bars"></i></a>
  <a id="logo" href="<%- config.root %>" title="v<%- latest_quasar_version() %>">
    <img src="<%- config.root %>images/gsi-logo-circular.png">
    Guide
  </a>
  <%- partial('partials/menu') %>
</div>

<%- partial('partials/sidebar') %>
