<a href="<%- config.root %>brand/" class="menu-link<%- page.path.match(/brand\//) ? ' current' : '' %>">
  Brand
</a>

<a href="<%- config.root %>style/" class="menu-link<%- page.path.match(/style\//) ? ' current' : '' %>">
  Style
</a>

<a href="<%- config.root %>architecture/" class="menu-link<%- page.path.match(/architecture\//) ? ' current' : '' %>">
  Architecture
</a>

<a href="<%- config.root %>system/" class="menu-link<%- page.path.match(/system\//) ? ' current' : '' %>">
  System
</a>

<a href="<%- config.root %>shortcodes/" class="menu-link<%- page.path.match(/shortcodes\//) ? ' current' : '' %>">
  Shortcodes
</a>

<!--
<a href="<%- config.root %>blog/" class="menu-link<%- page.path.match(/blog\//) ? ' current' : '' %>">
  Blog
</a>
-->

<a href="<%- config.root %>search/" class="menu-link<%- page.path.match(/search\//) ? ' current' : '' %>" title="Search">
  <i class="fa fa-search" style="vertical-align: middle"></i>
  <span>Search</span>
</a>

<a href="https://dev.gsihealth.net/dashboard/" class="menu-link" target="_blank">Dev</a>
<a href="https://qa.gsihealth.net/dashboard/" class="menu-link" target="_blank">QA</a>
<a href="https://demo.gsihealth.net/dashboard/" class="menu-link" target="_blank">Demo</a>