<div class="sidebar-backdrop"></div>

<div id="sidebar" class="sidebar">
  <div class="list">
    <div class="sidebar-menu">
      <%- partial('partials/menu') %>
    </div>

    <!-- To add versioning -->
    <!--<h3 class="q-version-select">
      <i class="fa fa-book"></i>&nbsp; Docs for
      <select id="version-select">
        <option value="">v<%- latest_quasar_version() %></option>
        <option value="v0-16">v0.16</option>
        <option value="v0-15">v0.15</option>
        <option value="v0-14">v0.14</option>
        <option value="v0-13">v0.13</option>
      </select>
    </h3>-->

    <h2>
      <% var type = page_type(page); %>
      <%-
        page.blog_index || page.search_index || page.layout === 'post' ?
        '' : (type === 'api' ? 'API' : type.charAt(0).toUpperCase() + type.slice(1))
      %>
    </h2>
    <%
      var p, path;
      _.forEach(site.data.pageMenu[type], function(pages, category) {
        if (category !== 'root') {
    %>
          <h3><%- category %></h3>
    <%  } %>
        <ul class="menu-root">
          <%
            _.forEach(pages, function(html, name) {
              path = page_path_from_menu(type, html, name);
              p = site.pages.find({path: path});
          %>
            <li>
              <a href="<%- config.root + path %>" class="sidebar-link<%- page.path === path ? ' current' : '' %>"><%- name %></a>
            </li>
          <% }); %>
        </ul>
    <% }); %>
  </div>

  <% if (page.layout === 'post') { %>
  <div class="list">
    <h2>Recent Posts</h2>
    <ul>
      <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
        <li>
          <a href="<%- config.root + post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</div>
