@import '_variables'
@import '_syntax'

body
  font-family $body-font
  font-size $body-font-size
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $medium
  background white
  margin 0

a
  text-decoration none
  color $medium
  outline 0
  cursor pointer

img
  border 0

h1, h2, h3, h4, strong
  font-weight 600
  color $dark

hr
  margin 2em 0
  height 2px
  background-color $hr-color
  border 0
  padding 0

input:not([type='image'])
  -webkit-appearance none
  box-sizing border-box
  display block
  width 100%
  height 34px
  padding 6px 12px
  font-size 14px
  line-height 14px
  background-image none
  border 1px solid #ccc // @stylint ignore
  outline 0
  border-radius 4px
  box-shadow none
  transition all .3s
  &:focus
    border 1px solid #888 // @stylint ignore
    box-shadow 0 0 10px $main

code, pre
  font-family $code-font
  font-size $code-font-size
  background-color $bg
  -webkit-font-smoothing initial
  -moz-osx-font-smoothing initial

code
  color $dark
  padding 2px 5px
  margin 0 2px
  border-radius 2px
  border $code-border
  white-space nowrap
  box-shadow 0 1px 1px rgba(0, 0, 0, .125)

em
  color $light

p
  word-spacing .05em

iframe
  border 0

#header
  position fixed
  top 0
  left 0
  right 0
  background-color $header-bg
  box-shadow $header-shadow
  height $header-height
  z-index 100
  overflow hidden

  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-direction row
  -ms-flex-direction row
  flex-direction row

  -webkit-align-items stretch
  -ms-flex-align stretch // @stylint ignore
  -ms-grid-row-align stretch  // @stylint ignore
  align-items stretch

  -webkit-justify-content flex-start
  -ms-flex-pack start
  justify-content flex-start

  a
    color $header-color
    line-height $header-height
    font-family $logo-font
    font-weight 500
    font-size 1rem
    padding 0 15px
    &.current
      background-color alpha($white, .1)
      cursor default
    &:hover:not(.current)
      background-color darken($header-bg, 15%)
    span
      display none
  i
    font-size 1.2rem

#logo
  font-size 1.2rem !important
  img
    vertical-align middle
    width $header-height - 20px
    height $header-height - 20px
    margin 0 10px 5px 0

#main
  z-index 1
  padding-top ($header-height + 20px)
  overflow-x hidden

@keyframes swing
  15%
    transform translateX(5px)
  30%
    transform translateX(-5px)
  50%
    transform translateX(3px)
  65%
    transform translateX(-3px)
  80%
    transform translateX(2px)
  100%
    transform translateX(0)

.logo-font
  font-family $logo-font

.button
  display inline-block
  font-family $logo-font
  color $white !important
  background-color $header-bg
  box-shadow $shadow
  padding 6px 14px
  transition all .25s ease
  font-size 1.2rem
  border 1px solid
  border-radius 4px
  cursor pointer
  outline 0
  border-color darken($header-bg, 10%) darken($header-bg, 15%) darken($header-bg, 15%)
  background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
  &:active
    background darken($header-bg, 5%)
    border-color darken($header-bg, 25%) darken($header-bg, 20%) darken($header-bg, 10%)
    box-shadow inset 0 1px 3px rgba(black, .2), 0 1px rgba(white, .4)
    background-image linear-gradient(to bottom, darken($header-bg, 13%), lighten($header-bg, 5%))
  &:hover
    background-color $black
    animation swing 1s ease
    animation-iteration-count 1
  i
    font-size 1.6rem
    vertical-align middle
    margin-right 5px
  &.small
    font-size .8rem
    padding 4px 9px
    i
      font-size 1.2rem

.sidebar
  position fixed
  top 80px
  left 40px
  bottom 0
  z-index 10
  width 240px
  padding 20px 0
  margin-right 20px
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch
  -ms-overflow-style none
  background-color $white
  h2
      margin-top .2em
      margin-bottom 7px
  h3
      margin-bottom 3px
  ul
      list-style-type none
      margin 0
      line-height 1.8em
      padding-left 1em
  .version-select
      vertical-align middle
      margin-left 5px
  .menu-root
      padding-left 0
  .menu-sub
      font-size .85em
  .sidebar-link
      color $medium
      &.current
          font-weight 900
          color $main
      &:hover
          border-bottom 2px solid $main
  .section-link
      transition all .2s ease-in
      &.active, &:hover
          color $main
          border-left 3px solid $main
          padding-left 3px
      &.active
          font-weight bold
  .main-menu
      margin-bottom 20px
      display none
      padding-left 0

.sidebar-menu
  color $main
  margin-bottom 20px
  a
    display block
    font-size 1rem
    padding 5px 0

.sidebar-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0, 0, 0, .4)
  z-index 999
  display none
  &.active
    display block

$color-donate = #FFD54F
$color-idea   = #00C853

.q-version
  float right
  margin-top 2px
  margin-right 35px

.q-version-select
  margin 15px 0 !important

.support-button
  font-size 1.1rem !important
  padding 7px 13px !important
  color #333 !important // @stylint ignore
  &:hover
    color white !important

.support-donate
  background-color $color-donate
  border 1px solid
  border-color darken($color-donate, 10%) darken($color-donate, 15%) darken($color-donate, 15%)
  background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
  &:active, &:hover
    background darken($color-donate, 5%)
    border-color darken($color-donate, 25%) darken($color-donate, 20%) darken($color-donate, 10%)
    box-shadow inset 0 1px 3px rgba(black, .2), 0 1px rgba(white, .4)
    background-image linear-gradient(to bottom, darken($color-donate, 13%), lighten($color-donate, 5%))

.support-idea
  background-color $color-idea
  border 1px solid
  border-color darken($color-idea, 10%) darken($color-idea, 15%) darken($color-idea, 15%)
  background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
  &:active, &:hover
    background darken($color-idea, 5%)
    border-color darken($color-idea, 25%) darken($color-idea, 20%) darken($color-idea, 10%)
    box-shadow inset 0 1px 3px rgba(black, .2), 0 1px rgba(white, .4)
    background-image linear-gradient(to bottom, darken($color-idea, 13%), lighten($color-idea, 5%))

.support-link
  height 20px
  border 1px solid #d4d4d4 // @stylint ignore
  display inline-block
  box-sizing border-box
  line-height 16px
  border-radius 3px
  cursor pointer
  background-image linear-gradient(to bottom, #fcfcfc 0, #eee 100%) // @stylint ignore
  position relative
  width 128px
  text-align center
  &:hover
    border-color #ccc // @stylint ignore
    background-image linear-gradient(to bottom, #eee 0, #ddd 100%) // @stylint ignore
  i
    vertical-align middle
  a
    font 700 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif
    color #333 // @stylint ignore

.playstore
  border 0 !important
  background transparent !important
  padding 0 !important
  img
    width 160px

@media screen and (min-width $small-screen + 1px)
  .sidebar-backdrop
    display none !important
  body.index .sidebar
    display none !important
  #header .menu-button, .sidebar-menu
    display none
    #main.fix-sidebar .sidebar
      position fixed

@media screen and (max-width $small-screen)
  .q-version
    float left
  #header
    .menu-button
      padding 0 20px
    .menu-link
      display none
    #logo
      padding 0
    a span
      display inline-block
  body
    -webkit-text-size-adjust none
    font-size 14px
  .highlight pre
    padding 0
  .sidebar
    position fixed
    background-color #f9f9f9 // @stylint ignore
    height 100%
    top 0
    left 0
    padding 25px 30px 20px
    box-shadow 0 0 10px rgba(0, 0, 0, .2)
    box-sizing border-box
    transition all .4s cubic-bezier(.4, 0, 0, 1)
    -webkit-transform translate(-280px, 0)
    transform translate(-280px, 0)
    z-index 1000
    .main-menu
      display block
    &.open
      -webkit-transform translate(0, 0)
      transform translate(0, 0)
    li
      list-style-type circle
  .content
    margin 0 !important
    padding-top 0
  .footer
    margin-left 0
    text-align center
