<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>

  <div class="q-intro">
    <img src="/images/logo/xl.png" style="height: 184px; width: 184px">
    <div class="q-container">
      <h1>GSIHealth Coordinator</h1>
      <h2 style="color: black; opacity: .87">A guide for all - from Sales to Developers</h2>
      <p style="opacity: .6; margin-bottom: 0px">
        Everything from basic design principles & coding best practices, to GSI's individual branding, personality, mission - and even some development shortcodes. 
        <br> 
        <strong>Get to know your company</strong>.
        <br><br>
      </p>
      <p>
        <a href="https://vlewis.jira.com/wiki/" target="_blank">
          <i class="fa fa-question-circle"></i>
          Can't find something? Check out Confluence.
        </a>
        <br><br>
        <a href="https://vlewis.jira.com/secure/RapidBoard.jspa?rapidView=38&projectKey=DASHBOARD&view=planning" target="_blank">
          <i class="fa fa-exclamation-triangle"></i>
          Track bugs and stories with JIRA.
        </a>
      </p>
      <div class="q-intro-actions">
        <a class="button" href="https://demo.gsihealth.net/dashboard/" target="_blank">
          <i class="fa fa-mouse-pointer"></i>
          Demo Coordinator
        </a>
        <a class="button" href="https://bitbucket.org/gsihealth/" target="_blank">
          <i class="fa fa-bitbucket"></i>
          Bitbucket
        </a>
        <a class="button" href="https://gsihealth.sharepoint.com/gsiteam/documents/default.aspx" target="_blank">
          <i class="fa fa-folder-open"></i>
          Share Documents
        </a>
      </div>
    </div>
    <br><br>
    <img class="arrow" src="/images/down.png">
  </div>
</div>

<div class="q-feature" style="background: #1E88E5">
  <div class="q-container q-feature-list">
    <div class="q-feature-item">
        <i class="icon fa fa-line-chart"></i>
        <h4>
          Get quick results
        </h4>
        <p style="color: white">
          Ever wished you could just duplicate functionality from one part of the application and put it somewhere else? Well now you can, with shortcodes!
        </p>
        <a class="button" style="background: #f44436" href="/shortcodes">
          <i class="icon fa fa-arrow-right"></i>
          Let's do this!
        </a>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-users"></i>
      <h4>
        Know your company
      </h4>
      <p style="color: white">
        Learn about the processes, culture and standards behind a wide range of departments. Check out what goes on on the other side of town!
      </p>
      <a class="button" style="background: #f44436" href="/brand">
        <i class="icon fa fa-arrow-right"></i>
        Alright!
      </a>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-code-fork"></i>
      <h4>
        Source control
      </h4>
      <p style="color: white">
        How do we manage our code? Get familiar with Git, Bitbucket, and our standards for branching, forking, pull requests and code reviews.
      </p>
      <a class="button" style="background: #f44436" href="/system/bitbucket.html">
        <i class="icon fa fa-arrow-right"></i>
        Show me!
      </a>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gear"></i>
      <h4>
        Configuration
      </h4>
      <p style="color: white">
        Completely configurable! That's our goal, and we're almost there. Learn how we do it, and how to modify configurable values!
      </p>
      <a class="button" style="background: #f44436" href="/system/best-practices/configuration.html">
        <i class="icon fa fa-arrow-right"></i>
        Let's go!
      </a>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-language"></i>
      <h4>
        Accessibility
      </h4>
      <p style="color: white">
        Multi-language compatible, accessible to those with impaired vision, colorblindness, and more. What are our standards for accessibility?
      </p>
      <a class="button" style="background: #f44436" href="/style/standards/accessibility.html">
        <i class="icon fa fa-arrow-right"></i>
        Tell me more!
      </a>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-sitemap"></i>
      <h4>
        Frameworks & tools
      </h4>
      <p style="color: white">
        What are we running on? Read up on the frameworks and tools we use to build, run, and maintain Coordinator. Which are we phasing out?
      </p>
      <a class="button" style="background: #f44436" href="/system">
        <i class="icon fa fa-arrow-right"></i>
        Take me there!
      </a>
    </div>
</div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
