<%
  var previousPage = previous_page(page);
  var nextPage     = next_page(page);
%>

<div class="content">
  <h1>
    <%- page.title %>
  </h1>

  <%- page.content %>

  <% if (page.title === 'Stylus Variables') { %>
    <input
      id="search-variable"
      type="text"
      placeholder="Loading Stylus Variables..."
      disabled="disabled"
    >

    <table style="margin-top: 20px; width: 100%;">
      <thead>
        <tr>
            <th>Stylus Variable Name</th>
            <th>Material Default Value</th>
            <th>iOS Default Value</th>
        </tr>
      </thead>

      <tbody id="search-results">
        <tr id="search-loading" style="text-align: center;">
          <td colspan="3">
            <img src="/images/spinner.gif">
          </td>
        </tr>
      </tbody>
    </table>
  <% } %>

  <div class="guide-links">
    <% if (previousPage) { %>
      <span><a href="<%- url_for(previousPage.path) %>"><i class="fa fa-chevron-left"></i> <%- previousPage.title %></a></span>
    <% } %>
    <% if (nextPage) { %>
      <span style="float:right"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %> <i class="fa fa-chevron-right"></i></a></span>
    <% } %>
  </div>

  <div class="footer">
    <hr>
    <div>
      Last updated: <%- (new Date(page.updated)).toDateString() %>
    </div>
    Caught a mistake or want to contribute to the documentation?
    <a href="https://bitbucket.org/angelica-steele-gsi/styleguide/src/master" target="_blank">
      Edit on Bitbucket
      <i class="fa fa-pencil"></i>
    </a>
  </div>
</div>

<aside id="preview" style="display: none;">
  <div id="preview-chooser">
    <a data-theme="android" class="active"><i class="fa fa-android"></i></a>
    <a data-theme="apple"><i class="fa fa-apple"></i></a>
  </div>
  <div id="android-preview" class="theme active">
    <iframe id="android-iframe" frameborder="0"></iframe>
    <a class="desktop-launcher" target="_blank"><i class="fa fa-desktop"></i><br>Desktop View</a>
    <a class="view-source" target="_blank"><i class="fa fa-file-code-o"></i><br>View Source</a>
  </div>
  <div id="apple-preview" class="theme">
    <iframe id="apple-iframe" frameborder="0"></iframe>
    <a class="desktop-launcher" target="_blank"><i class="fa fa-desktop"></i><br>Desktop View</a>
    <a class="view-source" target="_blank"><i class="fa fa-file-code-o"></i><br>View Source</a>
  </div>
</aside>
